@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
  url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #141218 url("../img/background.jpg") no-repeat top right 30%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  //padding: 0 20px;
  width: 95%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;

  &__menu {
    margin-left: 67px;
    margin-right: auto;
  }
  &__menu-link {
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
  }
  &__social-link {
    margin-left: 20px;
    text-decoration: none;
  }
  &__menu-btn {
    display: none;
  }
}

.main {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__content {
    margin-bottom: 85px;
  }
  &__genre {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 16px;
  }
  &__rating-stars {
    display: flex;
  }
  &__rating-star {
    margin-right: 4px;
  }
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  &__rating-number {
    margin-left: 5px;
    font-size: 12px;
    line-height: 14px;
  }
  &__title {
    margin-bottom: 10px;
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 89px;
  }
  &__description {
    max-width: 458px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 150%;
  }
  &__watch-button {
    display: inline-block;
    padding: 22px 72px;
    background: #9D2929;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    border: none;

    &:active {
      color: #fff;
    }
  }
  &__play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border: none;
    background: #9D2929;
  }
  &__play-button-img {
    transform: translateX(5px);
  }
  &__play-button::before {
    position: absolute;
    top: -16px;
    left: -16px;
    content: '';
    width: 132px;
    height: 132px;
    background: #9D2929;
    border-radius: 50%;
    opacity: 0.5;
  }
  &__episodes {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    // Добавили swiperjs
    position: relative; // чтобы стрелка позиционировалась
    max-width: 420px;
    margin-left: 0;
  }
  &__episode {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 13px;
    margin-right: 30px;
    width: 164px;
    height: 113px;
    background-size: cover;
    border-radius: 8px;
  }
  &__episode-subtitle {
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 12px;
  }
  &__episode-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  &__episode--1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/1.jpg") no-repeat center;
  }
  &__episode--2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/2.jpg") no-repeat center;
  }
  &__episode--3 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/3.jpg") no-repeat center;
  }
  &__episode--4 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/4.jpg") no-repeat center;
  }
  &__episode--5 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/5.jpg") no-repeat center;
  }
  &__episode--6 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/6.jpg") no-repeat center;
  }
  &__episode--7 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/7.jpg") no-repeat center;
  }
  &__episode--8 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/8.jpg") no-repeat center;
  }
  &__episodes-arrow {
    width: 32px;
    height: 23px;
    border: none;
    background: transparent url("../img/arrow.svg") no-repeat center;

    // после добавления swiperjs
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -32px;
  }
}

footer {
  margin-top: auto;
  background: #141218;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: rgba(255,255,255, 0.4);
  font-size: 14px;
  line-height: 20px;

  &__link {
    margin-left: 25px;
    text-decoration: none;
    color: rgba(255,255,255, 0.4);

  }
}


@media (max-width: 760px) {

  .main__play-button {
    display: none;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;

    &__copyright {
      margin-bottom: 8px;
    }
    &__link:first-child {
      margin-left: 0;
    }
  }
}
@media (max-width: 540px) {
  .header {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-bottom: 0;
    background: #9D2929;
    border-bottom-left-radius: 8px;

    &--active {
      display: flex;
    }

    &__logo {
      margin-bottom: 25px;
    }
    &__menu {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
    }
    &__menu-link {
      margin-right: 0;
      margin-bottom: 17px;
    }
    &__social {
      order: 1;
      margin-bottom: 22px;
    }
    &__social-link:first-child {
      margin-left: 0;
    }

    &__menu-btn {
      display: block;
      position: absolute;
      top: 40px;
      right: 35px;
      width: 30px;
      height: 2px;
      background: #fff;
      cursor: pointer;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        left: 0;
        width: 30px;
        height: 2px;
        background: #fff;
        transition: transform 0.25s;
      }
      &::after {
        top: 7px;
      }

      &--active {
        height: 0;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .main {
    &__wrapper {
      margin-top: 196px;
    }
    &__title {
      font-size: 56px;
    }
    &__episodes {
      width: 75%;
    }
    &__episodes-arrow {
      z-index: 999;
      right: 25%;
    }
  }
}
@media (max-width: 374px) {
  .main {
    &__episodes-arrow {
      z-index: 999;
      right: 5%;
    }
  }
}