@font-face {
  font-family: 'MasonChronicles';
  src: url("../fonts/MasonChronicles.woff") format("woff"), url("../fonts/MasonChronicles.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
*, *::after, *::before {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: #141218 url("../img/background.jpg") no-repeat top right 30%;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 95%; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px; }
  .header__menu {
    margin-left: 67px;
    margin-right: auto; }
  .header__menu-link {
    margin-right: 24px;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff; }
  .header__social-link {
    margin-left: 20px;
    text-decoration: none; }
  .header__menu-btn {
    display: none; }

.main__wrapper {
  display: flex;
  align-items: center; }
.main__content {
  margin-bottom: 85px; }
.main__genre {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 16px;
  animation-delay: 0.1s; }
.main__rating-stars {
  display: flex; }
.main__rating-star {
  margin-right: 4px; }
.main__rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-delay: 0.3s; }
.main__rating-number {
  margin-left: 5px;
  font-size: 12px;
  line-height: 14px; }
.main__title {
  margin-bottom: 10px;
  font-family: 'MasonChronicles', serif;
  font-size: 76px;
  line-height: 89px;
  animation-delay: 0.5s; }
.main__description {
  max-width: 458px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 150%;
  animation-delay: 0.7s; }
.main__watch-button {
  display: inline-block;
  padding: 22px 72px;
  background: #9D2929;
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  animation-delay: 1s; }
  .main__watch-button:active {
    color: #fff; }
.main__play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: none;
  background: #9D2929; }
.main__play-button-img {
  transform: translateX(5px); }
.main__play-button::before {
  position: absolute;
  top: -16px;
  left: -16px;
  content: '';
  width: 132px;
  height: 132px;
  background: #9D2929;
  border-radius: 50%;
  opacity: 0.5;
  animation: pulse 1s ease-in-out 2s infinite; }
.main__episodes {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  position: relative;
  max-width: 420px;
  margin-left: 0; }
.main__episode {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 13px;
  margin-right: 30px;
  width: 164px;
  height: 113px;
  background-size: cover;
  border-radius: 8px; }
.main__episode-subtitle {
  margin-bottom: 2px;
  font-size: 10px;
  line-height: 12px; }
.main__episode-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; }
.main__episode--1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/1.jpg") no-repeat center; }
.main__episode--2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/2.jpg") no-repeat center; }
.main__episode--3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/3.jpg") no-repeat center; }
.main__episode--4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/4.jpg") no-repeat center; }
.main__episode--5 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/5.jpg") no-repeat center; }
.main__episode--6 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/6.jpg") no-repeat center; }
.main__episode--7 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/7.jpg") no-repeat center; }
.main__episode--8 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url("../img/episodes/8.jpg") no-repeat center; }
.main__episodes-arrow {
  width: 32px;
  height: 23px;
  border: none;
  background: transparent url("../img/arrow.svg") no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -32px; }

footer {
  margin-top: auto;
  background: #141218; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 20px; }
  .footer__link {
    margin-left: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4); }

@media (max-width: 760px) {
  .main__play-button {
    display: none; }

  .footer {
    flex-direction: column;
    align-items: flex-start; }
    .footer__copyright {
      margin-bottom: 8px; }
    .footer__link:first-child {
      margin-left: 0; } }
@media (max-width: 540px) {
  .header {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-bottom: 0;
    background: #9D2929;
    border-bottom-left-radius: 8px; }
    .header--active {
      display: flex; }
    .header__logo {
      margin-bottom: 25px; }
    .header__menu {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto; }
    .header__menu-link {
      margin-right: 0;
      margin-bottom: 17px; }
    .header__social {
      order: 1;
      margin-bottom: 22px; }
    .header__social-link:first-child {
      margin-left: 0; }
    .header__menu-btn {
      display: block;
      position: absolute;
      top: 40px;
      right: 35px;
      width: 30px;
      height: 2px;
      background: #fff;
      cursor: pointer; }
      .header__menu-btn::before, .header__menu-btn::after {
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        left: 0;
        width: 30px;
        height: 2px;
        background: #fff;
        transition: transform 0.25s; }
      .header__menu-btn::after {
        top: 7px; }
      .header__menu-btn--active {
        height: 0; }
        .header__menu-btn--active::before {
          top: 0;
          transform: rotate(45deg); }
        .header__menu-btn--active::after {
          top: 0;
          transform: rotate(-45deg); }

  .main__wrapper {
    margin-top: 196px; }
  .main__title {
    font-size: 56px; }
  .main__episodes {
    width: 75%; }
  .main__episodes-arrow {
    z-index: 999;
    right: 25%; } }
@media (max-width: 374px) {
  .main__episodes-arrow {
    z-index: 999;
    right: 5%; } }

/*# sourceMappingURL=style.css.map */
